<div class="container">
    <h2 style="text-align: center;">Signup</h2>
    <form action="/signup" method="POST">
        <div class="form-group pt-4 ">
            
            <div class="form-group pt-3" style="width:38rem; margin: 0 auto;">
                <label for="">Username</label>
                <input placeholder="Username" class="form-control" type="text" name="Username" id="">
            </div>
            <div class="form-group pt-3" style="width:38rem; margin: 0 auto;">
                <label for="">Email</label>
                <input placeholder="Email" class="form-control" type="email" name="Email" id="">
            </div>
            <div class="form-group pt-3" style="width:38rem; margin: 0 auto;">
                <label for="">Password</label>
                <input placeholder="Password" class="form-control" type="password" name="Password" id="">
                
            <div class="form-group pt-3">
                <a  href="/login">Already have an account ?</a>
                <button type="submit"  class="btn btn-primary float-right" >Signup</button>
            </div>
            </div>
        </div>
    </form>
</div>
